html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-repeat.jpg);
    background-size: contain;
}

main {
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 50px;
}

.informacoes {
    color: var(--primary-color);
}

.informacoes h2 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.informacoes p {
    font-size: 1.5rem;
    font-weight: 400;
}

.formulario {
    background-color: var(--primary-color);
    padding: 20px;
    margin-left: 60px;
    width: 840px;
    height: 380px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario form input,
.formulario form textarea {
    border-radius: 5px;
    padding: 8px 10px;
}

.formulario form textarea {
    height: 100px;
    resize: none;
}

.formulario .campo.preenchido {
    border-color: var(--secondary-color);
}

.formulario .campo.vazio {
    border-color: var(--tertiary-color);
}

.formulario p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.formulario p.campo-o {
    font-size: .8rem;
    color: var(--tertiary-color);
    margin-bottom: 7px;
    opacity: 0;
}

.formulario p.campo-o.mostrar {
    opacity: 1;
}

.formulario p:nth-child(8) {
    margin: 0;
}

.formulario .button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
    transition: .3s;
}

.formulario .button:hover {
    transform: scale(1.02);
    letter-spacing: 2px;
}